.text-center
  h1 Pat's things
  |             
  p.lead 
  |             
  ul.list-unstyled
    li 
      a(href="//birdo.destos.com") Birdo - a code for tulsa project
    |                 
    li 
      a(href="//githom.com/destos") my github
