.row
  .col-md-6
    h2.page-header Software Projects

    .list-group
      a.list-group-item(href="//github.com/codefortulsa/birdo") Birdo - a code for tulsa project
        | 
        span.label.label-warning react.js
        | 
        span.label.label-info django
        
    h2 Hardware Projects
    
    .list-group
      a.list-group-item(href="//github.com/destos/night-light") Arduino night light
        | 
        span.label.label-default arduino
    
  .col-md-6
    h2.page-header Online
    
    .list-group
      a.list-group-item(href="//github.com/destos") github
      a.list-group-item(href="//twitter.com/destos") twitter
