.row
  .col-md-12.text-center
    h1.page-title
      | Destos
      small  === 
      | Patrick Forringer
.row
  .col-md-6
    h2.page-header Projects

    .list-group
      for project in public._data.projects
        a.list-group-item(href="#{project.link}", target="_blank") #{project.title}
          | 
          for tag in project.tags
            span(class="label label-#{public._data.tags[tag]}") #{tag}
            | 

  .col-md-6
    h2.page-header Online

    .list-group
      a.list-group-item(href="//github.com/destos") github
      a.list-group-item(href="//twitter.com/destos") twitter
      a.list-group-item(href="//www.thingiverse.com/destos/designs") thingiverse
      a.list-group-item(href="//www.multigp.com/user/view/Destos") multiGP

